<div>
<h2> Integrantes: </h2>
<p> 
  Julian Misnaza <br>
  Maria Jose Ocampo<br>
  Daniel Rengifo<br>
</p>
<p> Los RF no funcionan debido a que no se logró la conexión con la Máquina Virtual conectada al clúúster </p>
<a [title]="RF1" [routerLink]="['/rf1']" class="button">RF1</a>
<a [title]="RF2" [routerLink]="['/rf2']" class="button">RF2</a>
<a [title]="RF3" [routerLink]="['/rf3']" class="button">RF3</a>
<br><br>
<a [title]="RA1" [routerLink]="['/ra1']" class="button">RA1</a>
<a [title]="RA2" [routerLink]="['/ra2']" class="button">RA2</a>
</div>